/* GLOBAL RESETS */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*

TABLE OF CONTENTS

#GLOBAL RESET
#BASE TYPOGRAPHY
#BUTTONS
#MEDIA
    #RESPONSIVE IMAGEs
#LAYOUT
    #CONTAINER
    #MEDIA QUERIES
    #SEMANTIC GRID SYSTEM
#STRUCTURE
    #SITE-HEADER
    #SITE-NAV
    #MAIN
        #SECTIONS
    #SITE FOOTER

*/
/* BASE TEXT COLORS */
body {
  color: #353b3c;
}

h1, h2, h3, h4, h5, h6 {
  color: #353b3c;
}

/* BASE TEXT FONTS */
body {
  font-family: "elza-narrow", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "elizeth-condensed", serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.title .i-am {
  margin-right: 0.5em;
  font-family: "elza-narrow", sans-serif;
  font-weight: 400;
}

/* BASE TYPOGRAPHY */
body {
  font-size: 100%;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 0.5em 0;
}

/* TRADITIONAL TYPOGRAPHIC SCALE */
h1 {
  font-size: 3em;
  line-height: 1;
}

h2 {
  font-size: 2.25em;
  line-height: 1.1;
}

h3 {
  font-size: 1.5em;
  line-height: 1.2;
}

/* LIMIT NUMBER OF CHARACTERS PER LINE */
p {
  max-width: 40em;
}

/* LINKS */
a {
  color: #353b3c;
}
a:hover {
  color: #d2b74e;
}

/* HORIZONTAL LINE */
hr {
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 3em 0;
}

/* TYPE SPECIMEN */
.headline {
  font-size: 4em;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

.subheadline {
  font-weight: 400;
  font-size: 2.5em;
  line-height: 1.1;
  margin: 0.25em 0;
}

/* SECTION HEADING */
.section-heading {
  font-size: 1em;
  font-family: "elza-narrow", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 3em 0;
}

/* SITE NAV TYPOGRAPHY */
.nav-type {
  font-family: "elza-narrow", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.nav-type li {
  list-style: none;
}
.nav-type a {
  text-decoration: none;
}

.hide-visually {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* BUTTONS */
.button {
  margin-top: 5em;
  cursor: pointer;
  display: inline-block;
  background-color: #353b3c;
  width: 150px;
  text-align: center;
  color: #ebebeb;
  text-decoration: none;
  padding: 1em;
  border-radius: 20em;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.button a {
  color: #ebebeb;
  text-decoration: none;
}
.button:hover {
  color: #353b3c;
  background-color: #d2b74e;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.button:hover a {
  color: #353b3c;
}

.menu-button {
  margin: 0;
}

/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

.hero-img {
  background-image: url("/img/Hero-img.jpg");
  z-index: 9999;
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
}

/* RESET BODY */
body {
  margin: 0;
}

/* CONTAINER */
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 1em;
}

/* MEDIA QUEIRES */
/* RESPONSIVE TYPOGRAPHY */
body {
  font-size: 87.5%;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 1250px) {
  body {
    font-size: 112.5%;
  }
}
/* SEMANTIC GRID */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -2%;
  margin-right: -2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3em;
}
.row > * {
  margin: 2%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.row.centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.row.swapped {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.row.stacked {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.row.align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 768px) {
  .row > * {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .row .one-whole {
    width: 96%;
  }
  .row .one-half {
    width: 44%;
  }
  .row .one-third {
    width: 29.3333%;
  }
  .row .two-thirds {
    width: 62.6666%;
  }
  .row .one-fourth {
    width: 21%;
  }
  .row .three-fourths {
    width: 71%;
  }
  .row .push-one-fourth {
    margin-left: 27%;
  }
  .row .push-one-third {
    margin-left: 35.3333%;
  }
  .row .push-one-half {
    margin-left: 52%;
  }
  .row .centered {
    margin-left: auto;
    margin-right: auto;
  }
}

.demo .row {
  margin-bottom: 0;
}
.demo .row > * {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1%;
}

/* BODY */
body {
  background-color: #ebebeb;
}

/* SITE STRUCUTURE */
.site-header {
  position: absolute;
  width: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-header a {
  color: #ebebeb;
  text-decoration: none;
}
.site-header h1 {
  font-size: 1.5em;
  margin: 0;
}
.site-header .site-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-header .site-id .logo {
  max-width: 50px;
}
.site-header .site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-header .site-nav li {
  list-style: none;
}

/* SITE FOOTER */
.site-footer {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-footer a {
  color: white;
  text-decoration: none;
}

section {
  padding: 4em 0;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* HERO SECTION */
.hero {
  margin: 0 1em 0 1em;
  padding: 0;
  color: #353b3c;
  text-align: left;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: left;
}
.hero .button {
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}
.hero h1 {
  color: #353b3c;
  margin-bottom: 0.25em;
}
.hero p {
  text-align: left;
}