/* BUTTONS */
.button {
    margin-top: 5em;
    cursor: pointer;
    display: inline-block;
    background-color: $color-link;
    width: 150px;
    text-align: center;
    color: $color-white;
    text-decoration: none;
    padding: 1em;
    border-radius: 20em;
    transition: all 0.4s;

    a {
        color: $color-white;
        text-decoration: none;
    }

    &:hover {
        color: $color-link;
        background-color: $color-link-darker;
        transform: scale(1.05);

        a {
            color: $color-link;
        }
    }
}

.menu-button {
    margin: 0;
}

/* SOCIAL LINK */ 
.social-links {
    text-decoration: none;
}

