/* BUTTONS */
.button {
    margin-top: 5em;
    cursor: pointer;
    display: inline-block;
    background-color: $color-link;
    width: 150px;
    text-align: center;
    color: $color-white;
    text-decoration: none;
    padding: 1em;
    border-radius: 20em;
    transition: all 0.4s;

    a {
        color: $color-white;
        text-decoration: none;
    }

    &:hover {
        color: $color-link;
        background-color: $color-link-darker;
        transform: scale(1.05);

        a {
            color: $color-link;
        }
    }
}

.menu-button {
    margin: 0;
}

/* SOCIAL LINK */ 
.social-links {
    text-decoration: none;
}

/* FOOTER SOCIAL ICONS */ 
.fa {
    display: grid;
    padding: 1em;
    text-align: center;
    margin: 5px 2px;
    border-radius: 80%;
}

.fa-linkedin {
    padding-left: 1.2em;
    background-color: $color-white;
    color: $color-link;

    &:hover {
        background-color: $color-link;
        color: $color-link-darker;
    }
}

.fa-instagram {
    padding-left: 1.09em;
    background-color: $color-white;
    color: $color-link;

    &:hover {
        background-color: $color-link;
        color: $color-link-darker;
    }
}
.fa-github {
    padding-left: 1.1em;
    background-color: $color-white;
    color: $color-link;

    &:hover {
        background-color: $color-link;
        color: $color-link-darker;
    }
}
.fa-codepen {
    padding-left: 1.1em;
    background-color: $color-white;
    color: $color-link;

    &:hover {
        background-color: $color-link;
        color: $color-link-darker;
    }
}