// TO HIDE SOMETHING VISUALLY
.hide-visually {
    position: absolute;
    top: -9999px;
    left: -9999px;

}

/* SELECTED PAGE */ 
.nav {
    .selected {
        color: $color-link-darker;
        font-family: $font-family-sans;
        font-weight: 700;
    }
    a {
        &:hover {
            color: $color-link-darker;
        }
    }
}
