/* RESPONSIVE IMAGES */

img {
    max-width: 100%;
    height: auto;
}

.hero-img {
    background-image: url('/img/Hero-img.jpg');
    z-index: 9999;
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: right 0 bottom 0;
}